= header_section(@subject)
%section
  :markdown
    Hi there

    Unfortunately, because your account is relatively new, and you now have a higher-than-average chargeback rate, we have been forced to pause your payouts for #{@number_of_days} days. After #{@number_of_days} days, if your chargeback rate has decreased, we will resume paying you on a weekly basis.

    You are still able to make sales, create new products, contact your customers, and promote your products - the day-to-day operations of your account have not been affected. The only things that have changed are:

    * You cannot be paid until #{@number_of_days} days have passed
    * Your products will not be visible in the Discover marketplace

    We understand that chargebacks are outside of your control; nevertheless our banking partners are extremely strict about them. In the past, when a creator incurred multiple chargebacks, we would be forced to suspend them and refund their sales. This hurt a lot of legitimate, honest creators, and so we struck a compromise that ensures that you can continue working with us. A #{@number_of_days} day probation is that compromise.

    For context: When you sell on Gumroad, we are acting as an intermediary between you and our banking partners. Among other limitations imposed on us, they demand that we remove "high risk" accounts from our platform. Accounts with high chargeback rates are defined as "high risk".

    If the customers who have issued chargebacks against you reverse their disputes, and your chargeback rate is lowered, we will be cancel the #{@number_of_days} day probation. We recommend that you reach out to your customers and ask them to cancel their disputes.

    We apologize for the inconveniences this will undoubtedly cause, but, to be sure, it is the best deal we could negotiate to keep creators on our platform and not punish them for the sake of upholding banking policies.
